@import "../element/yo-checked.scss";
.regiter-content{
  .userProtocol{
    margin: .20rem 0 .10rem .10rem;
    input{
      vertical-align: middle;
    }
    .text a{
      color: #1793f9;
    }
  }
}
