@charset "utf-8";
@import "../../lib/fragment/yo-header";

/**
 * yo-header扩展
 */

@include yo-header(
    $name: normal,
    $border-color: #ddd,
    $bgcolor: $headerBgColor,
    $color: #fff,
    $item-color: #fff,
    $item-ico-color: #fff
);
