@charset "utf-8";
@import "../../lib/element/yo-btn";

/**
 * yo-btn扩展
 */

// 扩展轻柔按钮
@include yo-btn(
    $name: light,
    $border-color: #ccc,
    $bgcolor: #fff,
    $color: map-get($base, color)
);

// 扩展信息按钮
@include yo-btn(
    $name: info,
    $border-color: #0456e2,
    $bgcolor: #4a87ee
);

//登录按钮
@include yo-btn(
  $name: login,
  $color: #fff,
  $border-color: #1793f9,
  $bgcolor: #1793f9,
  $active-border-color: #1486e4,
  $active-bgcolor: #1486e4
);
//注册按钮
@include yo-btn(
  $name: regiter,
  $color: #1793f9,
  $border-color: #1793f9,
  $bgcolor: #f5f5f5,
  $active-border-color: #1793f9,
  $active-bgcolor: #fff
);
